{% extends 'homepage.html'%}


{% include 'Navbar.html'%}

  {% block content %}


    <h2 style="text-align: center;">About Our Store</h2>

<p style="text-align: center;">Welcome to our Ecommerce platform. We provide high-quality products at affordable prices.</p>

<h4 style="text-align: center;">Our Mission</h4>
<p style="text-align: center;">To deliver the best online shopping experience to our customers.</p>

<h4 style="text-align: center;">Why Choose Us?</h4>
<ul style="text-align: center;">
    <li style="display: block;">Trusted products</li>
    <li style="display: block;">Secure payments</li>
    <li style="display: block;">Fast delivery</li>
    <li style="display: block;">Customer support</li>
</ul>

  
  {% endblock%}


{% include 'Footer.html'%}