<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
</head>
<body style="background-color: bisque;">

    <h1 style="
        background-color: palevioletred;
        width: 80%;
        margin: 20px 10%;
        border-radius: 10px;
        padding: 10px;
        text-align: center;
        color: white;
    ">
        Registration Form
    </h1>

    <div class="container" style="width: 400px; margin: 60px 40%; border: 2px black solid  ; height: 400px;">
        <form action = "" method="POST">
            <div style="margin: 60px;">
                {% csrf_token %}
                {{ form.as_p }}

            </div>
            <input 
                type="submit" 
                value="Register" 
                style="
                    background-color: palevioletred;
                    padding: 6px 12px;
                    border-radius: 6px;
                    border: none;
                    color: white;
                    cursor: pointer;
                    margin-left: 60px;
                    margin-bottom: 10px;
                "

            >
           Already User?  <a href="{% url 'login-form' %}" style="margin: 5px;">Login</a>
        </form>
    </div>

</body>
</html>
